.login-page{
    background-image: url('../images/IMG_8165.JPG');
    background-size: cover;  // Adjust the image size to cover the element
    background-position: center;  // Position the image at the center
    background-repeat: no-repeat;  // Prevent image repetition

    flex: 1;
    align-items: "center";
    justify-content: "center";
}